include ../modal/modal.pug

- var modalTitle = 'Введите название'

.add-chat(id=id)
  +modal(modalTitle)
    form.form
      .form__body
        .form__row
          | !{name}
      .form__footer
        .form__row
          | !{button}
