include ../../ui/components/section/section.pug

- var errorTitle = '500'
- var errorDesc = 'Мы уже фиксим'
- var errorUrl = '/'

main
  +section()
    include ../../ui/components/error-page/error-page.pug
