.link {
  color: $blue;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: lighten($color: $blue, $amount: 10);
  }

  &--red {
    color: $red;

    &:hover {
      color: lighten($color: $red, $amount: 8);
    }
  }
}
