//- ui
extends ../ui/layouts/ui/ui.pug

block vars
  - var title = 'UI'
  -
    var pages = [
      {
        name: '404',
        url: './404.pug'
      },
      {
        name: '5хх',
        url: './500.pug'
      },
      {
        name: 'Авторизация',
        url: '/'
      },
      {
        name: 'Вход',
        url: '/'
      },
      {
        name: 'Чат',
        url: '/'
      },
      {
        name: 'Профиль',
        url: '/'
      },
    ]

block mixins
  include ../ui/components/ui-list/ui-list.pug

block content
  main
    h1 Список страниц
    +uilist(pages)

